
<footer>
    <nav class="footer-nav">
        <a href="/">
            <figure>
                <img src="/assets/home_icon.svg" alt="" width="30">
                <figcaption>Home</figcaption>
            </figure>
        </a>
        <a href="/">
            <figure>
                <img src="/assets/webinars_icon.svg" alt="" width="30">
                <figcaption>Webinars</figcaption>
            </figure>
        </a>
        <a href="/contourings">
            <figure>
                <img src="/assets/contourings_icon.svg" alt="" width="30">
                <figcaption>Contourings</figcaption>
            </figure>
        </a>    
        <a href="/articles">
            <figure>
                <img src="/assets/articles_icon.svg" alt="" width="30">
                <figcaption>Articles</figcaption>
            </figure>
        </a>
        <a href="/profile">
            <figure>
                <img src="/assets/profile_icon.svg" alt="" width="30">
                <figcaption>Profile</figcaption>
            </figure>
        </a>    
    </nav>
</footer>