{% render 'partials/head.liquid' %}

<h2>{{exerciseObject.description}}</h2>
<img src="https://fdnd-agency.directus.app/assets/{{ exerciseObject.image }}" alt="{{ exerciseObject.title }} foto">

{% render 'partials/foot.liquid' %}
